<script type="text/javascript">
    init.push(function () {
        $('#main-navbar-notifications').slimScroll({ height: 250 });

        $('#button-notifications').click(function(){
            
            var ids = [];
            
            $('#main-navbar-notifications > .notification').each(function(){
                if($(this).data('readed') == false || typeof $(this).data('readed') == 'undefined'){
                    ids.push($(this).data('id'));
                }
            });
            if(ids.length > 0){
                $.ajax({
                    method: "POST",
                    url: Routing.generate('core_alert_set_readed'),
                    dataType: "JSON",
                    data: {notificationIds:ids},
                    success: function(data){
                        $('#count-notifications').html(data.count > 0 ? data.count : '');
                        for(var i =0;i<data.ids.length;i++)
                            $('#main-navbar-notifications > .notification[data-id="'+data.ids[i]+'"]').attr('data-readed',true);
                    }
                });
            }
            
        });
        
        setInterval(function(){
            var lastId = $('#main-navbar-notifications > .notification').first().data('id');
            $.ajax({
                method: "GET",
                url: Routing.generate('core_alert_refresh', {lastId: typeof lastId == 'undefined'?0:lastId}),
                dataType: "JSON",
                success: function(data){
                    $('#count-notifications').html(data.count > 0 ? data.count : '');
                    if(data.messages.length > 0){
                        var append = '';
                        for(var i =0;i<data.messages.length;i++){
                            append += '<div class="notification" data-id="'+data.messages[i].id+'">\
                                <div class="notification-title text-'+data.messages[i].alert.level+'">'+data.messages[i].alert.system+'</div>\
                                <div class="notification-description">'+data.messages[i].alert.text+'</div>\
                                <div class="notification-ago" title="'+data.messages[i].alert.date.date+'">'+data.messages[i].alert.date.date+'</div>\
                                <div class="notification-icon fa '+data.messages[i].alert.icon+' bg-'+data.messages[i].alert.level+'"></div>\
                            </div>';
                            $.growl({ title: data.messages[i].alert.system, message: data.messages[i].alert.text, duration: 10000 });

                        }
                        notificar('Intranet','Existem novas notificações para você na intranet.');
                        $(append).prependTo('#main-navbar-notifications');
                    }
                    
                }
            });
            
        }, 10000);   
    });
</script>