/web/bundles/
/web/uploads/
/web/temp/
/web/media/
/web/admin/bower_components/
/web/vendor/bower_components/
/web/shared/bower_components/
/web/externo/bower_components/
/web/admin2/node_modules/
/web/admin2/dist/
/web/admin2/libs/
/web/admin2/js/build/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/var/
/src/LixoBundle/
/.idea/
/nbproject/
/composer.phar
/temp/
