{% extends 'JordiLlonchCrudGeneratorBundle::layout-admin.html.twig' %}
{% block page %}
    <div class="page-header">
            <h1><span class="text-light-gray">Form components / </span>General</h1>
    </div>
    Hello!
{% endblock %}
